{% extends 'base.html.twig' %}

{% block body %}
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="row">
                <div class="columns small-2 large-4">A</div>
                <div class="columns small-2 large-4">A</div>
                <div class="columns small-2 large-4">A</div>
            </div>
        </div>
    </div>
{% endblock %}