// Prevent FOUC
.no-js {
  @include breakpoint(small only) {
    .top-bar { display: none; }
  }

  @include breakpoint(medium) {
    .title-bar { display: none; }
  }
}

input[type="submit"], a.cancel {
  @include button;
}

textarea {
  height: 7em;
}

.top-bar {

  a{
    color: $white;
  }
}

.title-bar {
  background-color: $alizarinCrimson;
}

.close-button {
  font-size: 1em;
}

.password-reset {
  display: inline-block;
  float: right;
  color: #999;
}

footer {

  div {
    padding-right: 1rem;

    &:last-child {
      padding: 0;
    }
  }
}